.Counter {
    margin: auto;
}

div.ContadorControls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button.ContadorBoton {
    color: white;
    background-color: #000080;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px lightgray;
}

.ContadorNumber {
    margin: 15px;
}

div.BotonAgregar {
    display: flex;
    justify-content: center;
    font-size: small;
    margin: 10px;
}